.menu {
	position: absolute;
	background-color: transparent;
	padding-left: 20px;
	align-self: center;
	color: white;

	transition: transform .3s, opacity .3s;
}

.menu.hide {
	transform: translate3d(-100%, 0, 0);
	opacity: 0;
}
.menu.show {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}
.menu.showIcon {
	transform: translate3d(20px, 0, 0);
	opacity: 1;
}

.menuItemWrapper {
	width: 100%;
}
.menuItem {
	display: inline-block;
	font-size: 39px;
	padding-top: 10px;
	font-family: fontNormal;
}
.menuItem:hover{
	cursor: pointer;
}
.menuItem:hover {
	color: #30e1f4;
}
